<p>view-travel-agency works!</p>

    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="text-center">
          <div class="content-box">
<div>
    <div>
        <label> <b> TravelAgency OwnerName: </b></label> {{particularTravelAgency.travelAgencyOwnerName}}
    </div>
    <div>
        <label> <b>  TravelAgency Email: </b></label> {{particularTravelAgency.travelAgencyEmail}}
    </div>
    <div>
        <label> <b> TravelAgency Name: </b></label> {{particularTravelAgency.travelAgencyName}}
    </div>
    <div>
        <label> <b> establishedYear: </b></label> {{particularTravelAgency.establishedYear}}
    </div>
</div>
          </div>
        </div>
      </div>
    </div>
